@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0; padding: 0;
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

/*====== Section =====*/

.box{
    background: url(../img/QR-background.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    
}

.box-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(212, 52%, 86%);
    border-radius: 7px;
    width: 900px;
    height: 600px;
}
.conteudo{
    background: hsl(0, 0%, 100%);
    width: 300px;
    height: 470px;
    border-radius: 15px;
    display: grid;
}

.conteudo h1{
    font-weight: 700;
    font-size: 20px;
    margin: auto;
    color: hsl(218, 44%, 22%);
}

.conteudo p{
    font-weight: 400;
    font-size: 15px;
    color:  hsl(220, 15%, 55% );
}

.imagem img{
    width: 90%;
    height: 90%;
    border-radius: 6px;
    margin-top: 5%;
}
/*======== Medias ========*/
@media (max-width: 919px){
    .box{
        background: none;
        width: 100vw;
    }

    .box-conteudo{
        position: fixed;
        width: 100vw;
        height: 100vh;
    }

    body{
        font-size: 50%;
        overflow: hidden;
    }
    
}